.jslider_largeRound .jslider-bg i,
.jslider_largeRound .jslider-pointer { background-image: url(../img/jslider.largeRound.png); background-position: 0 -40px; }
.jslider_largeRound .jslider-pointer { width: 34px; height: 34px; top: -12px; margin-left: -20px; }
.jslider_largeRound .jslider-pointer-hover { background-position: -40px -40px; }
.jslider .jslider-value { font-size: 16px; background: transparent; color: white; -webkit-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
