.jslider_largeRound .jslider-bg i,
.jslider_largeRound .jslider-pointer { background-image: url(../img/jslider.round.png); }
.jslider_largeRound .jslider-pointer { background-size: 34px; }
.jslider_largeRound .jslider-pointer { width: 34px; height: 34px; top: -6px; margin-left: -8px; }
.jslider .jslider-value { font-size: 16px; background: transparent; color: white; -webkit-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
