body {
  /*
  background: #fff;
  background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#C8C8C8), color-stop(0.47, white), to(#C8C8C8));
  */
  background: url('../img/blank_at_2x.png') repeat fixed 100%;
  margin: 0;
  font: 18px Helvetica;
  text-align: center;
  width: 320px;
}

#title_bar {
  /* need a position set to something for z-index to take effect */
  position: relative;
  z-index: 1;
  background: #ccc;
  background: -webkit-gradient(linear, 0 0, 0 70%, from(#fff), to(#ccc));
  background: linear-gradient(#fff, #ccc 70%);
  color: #444;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #999;
  height: 44px;
  line-height: 44px;
  padding: 0;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.app_button, button {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 200px;
  background:#F7941E;
  background: -webkit-gradient(linear, 0 0, 0 70%, from(#F7941E), to(#D37F18));
  background: linear-gradient(#F7941E, #D37F18 70%);
  border: 1px solid #C97917;
  font-size: 18px;
  font-weight: 200;
  text-shadow: 0 -1px 0 #7E4B0D;
  height: 40px;
  line-height: 40px;
  color:#fff;
  text-align: center;
}

.view {
	/*  only one view is displayed at a time
	    so we'll set the views to default to be un-displayed
	    and then override this based on the element id */
	display: none;
	height: 460px;
	width: 320px;
	color: #fff;
	/*padding: 10px;*/
	/*position:relative;*/
}

.help {
  text-align: left;
  font-size: 16px;
  padding: 10px;
  color:#fff;
}

.divStats {
	display: none;
	padding: 10px;
}

.statsTable {
	text-align: right;
}

.layout-slider 
{
	margin-bottom: 60px;
	width: 50%;
	padding: 20px 0;
}

/* our views */
#welcome
{
  display: block;  
}

legend {
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}

fieldset {
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
}

input {
	margin-bottom: 8px;
}

.Hit {
	background: url('../img/btnHit_at_2x.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 65px;
	height: 33px;
}

.Miss {
	background: url('../img/btnMiss_at_2x.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 87px;
	height: 33px;
}

.Quit {
	background: url('../img/btnQuit_at_2x.png');
	background-repeat: no-repeat;
	width: 63px;
	height: 24px;
	background-size: 100%;
}

.target {
	width: 160px;
	height:80px;
	font-size: 60px;
	border:0 none;
	text-align:center;
	background: transparent;
	margin: 0;
	color: #fff;
	text-shadow: 0 0 25px #fff;
}

.stats {
	width: 40px;
	height:18px;
	border:0 none;
	background: transparent;
	margin: 0;
	font: 18px Helvetica;
	text-align: left;
	color: #fff;
}

.difficulty {
	width: 140px;
	height: 20px;
	//font-size: 20px;
	color: #fff;
	border:0 none;
	text-align:center;
	align:center;
	//background:transparent;
	background: url('../img/bull.png');
	background-repeat: repeat;
}
